@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Sanchez", serif;
}

/* NAV SECTION */

nav {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    z-index: 12;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    transition: top 0.3s;
}

.nav-hidden {
    top: -100px;
}

.nav-links {
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo-link {
    display: flex;
    align-items: center; 
    gap: 10px;
    text-decoration: none; 
}

.logo-link h4 {
    position: relative;
    color: whitesmoke;
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    transition: all 0.3s ease;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(8, 24, 131, 1) 50%, rgba(0, 212, 255, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

.logo-link:hover h4 {
    -webkit-text-fill-color: transparent;
    color: transparent;
    opacity: 0.8;
}

.logo-link:hover h4::after {
  opacity: 1;
}

.nav-logo {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.nav-links ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.nav-links ul li a {
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    transition: all 0.3s ease;
    overflow: hidden;
}

.nav-links ul li a:hover {
    color: whitesmoke;
}

.nav-links ul li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(8, 24, 131, 1) 50%, rgba(0, 212, 255, 1) 100%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
    border-radius: 5px;
}

.nav-links ul li a:hover::after {
    opacity: 1;
}

/* HOME SECTION */

#home {
  padding-top: 100px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("img/wallpaper.png");
  background-repeat: repeat-x; 
  background-position: 0 0; 
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  overflow: hidden;

  /* The animation property */
  animation: slide-left 45s linear infinite;
}

@keyframes slide-left {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -200% 0; 
  }
}

.hero-content {
  max-width: 800px;
  padding: 20px;
}

.hero-content h1 {  
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content h1 span {
  color: whitesmoke;
  transition: all 0.3s ease;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(8, 24, 131, 1) 50%, rgba(0, 212, 255, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.hero-content h1 span:hover {
  color: transparent;
}

.hero-content .tagline {
  font-size: 1.5rem;
  color: whitesmoke;
  margin-bottom: 2rem;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: royalblue;
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.cta-button:hover {
  background-color: whitesmoke;
  color: royalblue;
  cursor: pointer;
}

/* GAME SECTION */

#game-section {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.game-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}

.game-container h2 {
  font-size: 1.5rem;
}

.game-container h2, p {
  color: whitesmoke;
  margin-bottom: 20px;
}

